body {
    margin: 0;
    padding: 0;
    background: black;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background: #3e2d2d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 20px; /*para separar las cajas entre ellas*/
}

.uno {
    background: #F13929;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.dos {
    background: #727eda;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.tres {
    background: #43aaf4;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}