body {
    font-family: sans-serif;
}

.padre {
    width: 200px;
    height: 200px;
    background: #f13929;
    position: relative;
    left: 200px;
}
.hijo {
    width: 50px;
    height: 50px;
    background: #2b69e6;
    position: absolute; /*buscará que el padre esté posicionado, sino usará el body*/
    right: 0;
    bottom: 0;
}

.box {
    display: inline-block;
    background-color: #f13929;
    width: 100px;
    height: 100px;
    color: azure;
}

#dos {
    position: relative;
    background-color: green;
    top: 20px;
    left: 20px;
}