body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*igualar las medidas que haremos en cuanto a píxeles*/
    font-family: sans-serif;
}

.padre {
    height: 300px;
    width: 300px;
    background: orange;
    
}